/* Global CSS */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Light gray background */
    color: #333; /* Dark gray text color */
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #007bff;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 830px;
    box-sizing: border-box;
    margin: 20px auto 0;
}

.header img {
    width: 50px;
    height: auto;
    margin-right: 20px;
}

.header-text {
    color: #fff;
    text-align: center;
}

.header-text div {
    text-align: left; /* Align text to the left within the div */
}

.header-text h2,
.header-text p {
    color: #fff;
    margin: 0;
}

.header-text p {
    font-size: 14px;
    margin-top: 5px;
}

.container {
    max-width: 800px;
    margin: 0 auto; /* Center the container horizontally */
    margin-top: 10px; /* Add space between header and container */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.login-form {
    flex: 1;
    margin: 5px; /* Add space between login forms */
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
}

h2 {
    margin-top: 0;
    font-size: 20px;
    color: #333;
}

p {
    margin-top: 0;
    font-size: 16px; /* Adjust font size */
    color: #333;
}

form {
    margin-top: 20px;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* CSS for student signup page */
.signup-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signup-container input[type="text"],
.signup-container input[type="password"],
.signup-container input[type="date"],
.signup-container input[type="tel"],
.signup-container input[type="email"],
.signup-container select {
    width: calc(100% - 10px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.signup-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff; /* Blue background color */
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

.signup-container input[type="submit"]:hover {
    background-color: #0056b3; /* Darker shade of blue on hover */
}
